@import '../../common/variables';

.selected-game {
  background: $brand-secondary;
  float: right;
  height: 100vh;
  overflow-y: scroll;
  padding: 2em;
  text-align: center;
  width: 25vw;

  h3 {
    font-size: 2em;
    margin: 0 0 1em;
  }
}
