@import '../../common/variables';

.search-form {
  display: inline-block;
  height: 80vh;
  overflow-y: scroll;
  padding: 2em;
  width: 50%;

  h2 {
    margin-left: 31.5%;
  }

  input {
    display: block;
    font-size: 1em;
    margin: 0.5em 0 2em;
    padding: 0.5em;
    width: 100%;
  }

  label {
    display: block;
    font-weight: bold;
    margin: 0 auto;
    width: 50%;
  }
}

.search-form-games-list {
  list-style: none;
  padding: 0;

  button {
    background: transparent;
    border: 2px solid $brand-secondary;
    font-size: 1em;
    padding: 0.5em;
    text-align: left;
    width: 100%;
  }

  li {
    margin: 1px auto;
    width: 33%;
  }
}
